<div class="header">
    <div class="logo flexc hover-highlight">
        <img src="assets/header/amazon-logo.png" style="width: 100px; margin-top: 4px;" alt="Amazon Logo" />
    </div>
    <div class="flexc hover-highlight">
        <img src="assets/header/delivery.png" style="width: 180px;" alt="Delivery" />
    </div>
    <div class="search">
        <input type="text" style="width: 100%;" placeholder="Search Amazon" class="search-bar" />
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>    
    </div>
    <div class="flexc hover-highlight">
        <img src="assets/header/language.png" style="width: 80px;" alt="Language" />
    </div>
    <div class="flexc hover-highlight">
        <img src="assets/header/cart.png" style="width: 80px;" alt="Cart" />
    </div>
</div>
